layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^mpvpaper$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^tanjun-toast$"
    block-out-from "screencast"
}
